<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <%- include('_menu') %>

        <div class="container mt-4">
            <h1>Produtos</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Tamanho</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product=> { %>
                        <tr>
                            <td>
                                <%= product.id %>
                            </td>
                            <td>
                                <%= product.name %>
                            </td>
                            <td>
                                <%= product.category %>
                            </td>
                            <td>
                                <%= product.description %>
                            </td>
                            <td>
                                <%= product.price !==null ? product.price.toFixed(2) : "N/A" %>
                            </td>
                            <td>
                                <%= product.size || "N/A" %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
</body>

</html>